<div class="panel-heading">Events<span flex=""></span>
	<div class="pull-right">
  		<ng-md-icon icon="grid_on" style="fill: pink"></ng-md-icon>
	</div>
</div>
<div class="panel-body" ng-controller="PeriodEventsCtrl">	
  	<div id="table" ng-controller="TableController" ng-cloak="" class="progressCirculardemoBasicUsage">
			<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns class="grid" ui-grid-exporter external-scopes="$scope" ng-show="dataLoaded"></div>
				<div ng-hide="dataLoaded" layout="row" layout-sm="column" layout-align="space-around">
			  		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
		<!-- <button type="button" ng-csv="myData" csv-header="['Name', 'Call Start Date', 'Calling Number', 'Called Number', 'Conversation Duration', 'Duration', 'Occurrence Time', 'Call Direction', 'Cost', 'Other Party Tel Number', 'Certainty', 'Total Call Charge Amount', 'Calls Count', 'Calls Length Sum', 'Billed Msdn']" filename="test.csv">Export</button> -->
	</div>

</div>
	