<div class="widget-heading" flex>
	<div class="pull-right">
		<div>
			<ng-md-icon icon="looks_4" style="fill: #FFF" size="16"></ng-md-icon>
		</div>
	</div>
	<h5>Last 24 hours</h5>
	<div id="mini_oneday"></div>
</div>
<div class="mini-footer text-center">
    <h3 class="total-events">Last 24 hours</h3>
    <!-- <p class="event-number"></p> -->
</div>
