<!-- Sidebar navigation -->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset" layout-align="center center">
      <user-avatar></user-avatar>
      <span></span>
      <div>Mr. Fraud</div>
      <div>fraud@mail.com</div>
    </div>
  </md-toolbar>
   
  <md-list>
    <md-item ng-repeat="item in menu">
      <a ui-sref-active="md-warn" ui-sref="{{item.sref}}">
        <md-list-item md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}</div>
        </md-list-item>
      </a>
    </md-item>

    <md-divider ng-repeat-end></md-divider>
    <md-subheader>Management</md-subheader>
    <md-item ng-repeat="item in admin">
      <a>
        <md-list-item md-ink-ripple layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
          </div>
          <div class="inset">{{item.title}}
          </div>
        </md-list-item>
      </a>
    </md-item>
  </md-list>
</md-sidenav>

<div layout="column" flex>

    <md-toolbar scroll ng-show="!showSearch">

      <div class="md-toolbar-tools">
        <md-button hide-sm class="toolbar-button" aria-label="Notifications">
            <ng-md-icon icon="message"></ng-md-icon>
            <md-tooltip md-visible="demo.showTooltip">
            Messages
          </md-tooltip>
            <span class="notifications-label">7</span>
        </md-button>
        <md-button ng-click="vm.toggleItemsList()" aria-label="Menu">
            <ng-md-icon icon="notifications_on"></ng-md-icon>
            <md-tooltip md-visible="demo.showTooltip">
            Notifications
          </md-tooltip>
        </md-button>

        <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu"><ng-md-icon icon="menu"></ng-md-icon></md-button>
        <span flex></span>
        <span flex="flex" ng-hide="toggleSearch"></span>
        <md-input-container flex="flex" ng-show="toggleSearch">
          <input type="text" aria-label="Search results" ng-model="search"/>
        </md-input-container>
        <md-button ng-click="toggleSearch = !toggleSearch" aria-label="Search results" class="md-button md-default-theme"><ng-md-icon icon="search"></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip">
            Search...
          </md-tooltip></md-button>
        <md-button ng-click="showListBottomSheet($event)" aria-label="Open Settings"><ng-md-icon icon="more_vert"></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip">
            Settings
          </md-tooltip></md-button>
      </div>
      <!-- <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
        <md-tab id="tab1" aria-controls="tab1-content">
          Latest
        </md-tab>
        <md-tab id="tab2" aria-controls="tab2-content">
          Charts
        </md-tab>
      </md-tabs> -->
    </md-toolbar>
   <!-- <div class="main-fab md-fab-bottom-right"><md-button aria-label="Float Action Button" class="md-fab md-accent" ng-click="showAdd($event)"><ng-md-icon icon="add"></ng-md-icon></md-button></div> -->
   
  <!-- include dashboard.html -->
   <div flex class="dashboard">
       <div ui-view></div>
   </div>
</div>

